<div class="container-fluid">
	<%= render 'verb_view_common/functional_links', verb: @verb %>
	
	<br>
	<h1 class="caption-title"><%= @verb.title %></h1>
	<hr><br>

	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">Description</div>
				<div class="panel-body"><%= @verb.description %></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-1" style="padding-left: 140px;">
			<%= render 'verb_view_common/verb_tense/verb_present', present: @present, personalpronomen: @personalpronomen_present, grammer: @grammer_present, verb: @verb %>
			<%= render 'verb_view_common/verb_tense/verb_past', past: @past, personalpronomen: @personalpronomen_past, grammer: @grammer_past, verb: @verb %>	
			<%= render 'verb_view_common/verb_tense/verb_perfect', perfect: @perfect, personalpronomen: @personalpronomen_perfect, grammer: @grammer_perfect, verb: @verb %>
		</div>
	</div>

</div>