<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
		<% unless present.nil? %>
			<table class="table table-hover">
				<caption class="caption-title"><h3>Präsent</h3></caption>
				<% personalpronomen_present.zip(grammer_present).each do |personalpronomen, grammer| %>
					<tr>
						<th><%= personalpronomen %></th>
						<td><%= grammer %></td>
					</tr>
				<% end %>
				<tr><th colspan="2" class="header-caption">Further Explaination</th></tr>
				<tr><td colspan="2"><%= present.description %></td></tr>
				<tr>
					<td colspan="2">
						<%= link_to "Edit", edit_verb_present_path(verb, present), :class => "btn btn-sm btn-primary pull-right" %>
					</td>
				</tr>
			</table>
		<% else %>
      <img src="http://images.vectorhq.com/images/previews/cd1/blue-question-mark-clip-art-99583.png" alt="question" style="width: 170px; height= 170px; padding-top: 10px;">
			<div class="caption">
				<h3>Präsent</h3>
				<p>There is no "präsent" information in this verb currently.</p>
				<%= link_to "Add Information", new_verb_present_path(verb), :class => "btn btn-sm btn-success" %>
			</div>
		<% end %>
	</div>
</div>